/*Schrijf hier jouw CSS*/

/*/////////////////opdracht 1.1 //////////////////////*/
.opdracht-1 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/*//////////////////opdracht 1.2 //////////////////*/
.opdracht-2 ul{
    display: flex;
    flex-direction: row;
}

.opdracht-2 li{
    flex-basis: calc(100%/3);/* each item has equal width and together they fill the whole container . for 3 items this can be written as  100%/3 */
}
/*/////////////////opdracht 1.3/////////////////*/

.opdracht-3 ul {
    min-height: 100%; /* set minimum height of the list to fill the section. This is necessary to  have sufficient room for moving items along the cross axis*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*select only top left button using an id selector*/
#opdr3-top-left{
    align-self: flex-start;
}

/*select only bottom right button using an id selector*/
#opdr3-bottom-right{
    align-self: flex-end;
}

/*//////////// opdracht 1.4 ///////////////////*/
.opdracht-4 ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
}

/*////////////opdracht 5/////////////*/
.opdracht-5 div{
    min-height: 100%;
    min-width: 100%;

    display: flex;
    justify-content: space-between;
}

.opdracht-5 ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/*select only column 1 using an id to align it to start*/
#opdr5-column1{
    align-items: flex-start;
}
/*select only column 3 using an id to align it to end*/
#opdr5-column3{
    align-items: flex-end;
}

