/*Schrijf hier jouw CSS*/
body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
}
    nav{
        flex: 0 0 300px;
    }

    .outer-col-2 {
        flex: 1 1 100%;

        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .outer-col-2>header{
        flex:0 0 150px;
    }

    .inner-row{
        flex:1 1 50%;
        display: flex;
        flex-direction: row;
        overflow: auto;
    }

        .inner-row aside{
            flex: 0 0 300px;
        }

    .inner-col{
        flex:1 1 100%;
        display: flex;
        flex-direction: column;
    }
        .inner-col article{
            flex:1 1 20%;
            overflow: auto;
        }

        .inner-col footer{
            flex: 0 0 150px;
        }